@model IEnumerable<Aluguel.Models.Motorista>

@{
ViewData["Title"] = "Motorista";
}

<h1>Motoristas</h1>

<p>
    <a asp-action="Create">Cadastra novo motorista</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Endereco)
        </th>
        <th>
            Carro
        </th>
        <th>
            Marca
        </th>
        <th>
            Ano do Carro
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carro.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carro.Marca.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carro.Ano)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
